html {
    background: url(jpp.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    position: fixed;
    left: 40%;
    top: 40%;
}
